VITE_API_URL="http://localhost:5000/api"
VITE_GOOGLE_MAPS_API_KEY=""
VITE_CENTER_LAT="34.020882"
VITE_CENTER_LNG="-6.841650"
VITE_CENTER_LABEL="Fresh Start Academy - Rabat"
VITE_CENTER_ADDRESS="Rabat, Maroc"
VITE_CENTER_MAP_URL="https://www.google.com/maps/search/?api=1&query=34.020882,-6.841650"
